{% extends 'base.html' %}

{% block 'body' %}

    <div class="container" >
        <div class="row">
            <div class="col-md-2.5">
                <form action="{% url 'carros:criar' %}" method="POST">{% csrf_token %}
                    <input type="text" class="form-control" name="nome" placeholder="Nome do novo carro" style="margin-bottom: 10px;">
                    <input type="submit" class="btn btn-success" value="Cadastrar">
                    <a href="javascript:history.back()" class="btn btn-secondary botao">Voltar</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
