{% extends 'base.html' %}

{% block 'body' %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href=" {% url 'carros:editar' carroSelecionado.slugCarro %}" class="btn btn-secondary botao">Editar</a>
                    <a href=" {% url 'carros:excluir' carroSelecionado.slugCarro %}" class="btn btn-danger botao">Excluir</a>
                    <a href=" {% url 'carros:versaoCriar' carroSelecionado.slugCarro %}" class="btn btn-primary botao">Nova Versao</a>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col" class="head-listas">{{ carroSelecionado.nome }}</th>
                            </tr>
                        </thead>
                        {% if versoes.exists %}

                            <tbody>
                                {% for versao in versoes %}
                                    <tr>
                                        <th><a href=" {% url 'carros:versaoDetalhe' carroSelecionado.slugCarro versao.id %}">{{ versao.nome }}</a></th>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% else %}
                            <thead>
                                <tr>
                                    <th scope="col">Não há versões cadastradas</th>
                                </tr>
                            </thead>
                        {% endif %}
                    </table>                    
                </div>
                <div class="col-md-9">
                    <div class="listar_versoes">
                        <div class="row"> 
                        {% for versao in versoes %}
                            <div class="col-md-4">
                                <div style="background-color: #0f0f0f; width: 18rem;" class="card" style="width: 18rem;">
                                    <img width="100%" class="card-img-top" src="{{versao.imagem.url}}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{versao.nome}}</h5>
                                        <a href="{% url 'carros:versaoDetalhe' carroSelecionado.slugCarro versao.id %}" class="btn btn-primary">Detalhes</a>
                                    </div>
                                </div>
                                <br>
                            </div>
                        {% endfor %}
                        </div> 
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
