{% extends 'base.html' %}

{% block 'body' %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        
        <form action="{% url 'carros:carros' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input class="form-control" type="text" name="nome" placeholder="nome do carro" style="margin-right: 10px;" />
                        <button class="btn btn-success" type="submit">Cadastrar Carro</button>
                    </div>
                </div>
            </div>

            </div>
        </form>

        <hr style="background-color: gray;">

        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Carro cadastrados:</th>
                </tr>
            </thead>
            
            <div class="row">
                <div class="col-md-6">
                    <tbody>
                        {% for carro in coluna1 %}
                            <tr>
                                <th><a href=" {% url 'carros:versoes' carro.slugCarro %}">{{ carro.nome }} </a></th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </div>
                <div class="col-md-6">
                    <tbody>
                        {% for carro in coluna2 %}
                            <tr>
                                <th><a href=" {% url 'carros:versoes' carro.slugCarro %}">{{ carro.nome }} </a></th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </div>                        
            </div>

        </table>
    </div>

{% endblock %}
