{% extends 'base.html' %}

{% block 'body' %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <h3>Confirma a exclusão do carro?</h3>
    <label>Carro: {{ carro }}</label>
    <form action="" method="POST"> {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Excluir">
        <a href="{% url 'carros:listar' %}" class="btn btn-secondary">Voltar</a>
    </form>
{% endblock %}