{% extends 'base.html' %}
{% load static %}

{% block 'body' %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 add-scroll">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <a href="{% url 'carros:criar' %}" class="btn btn-primary botao">Novo carro</a>
                            <th scope="col" class="head-listas">Carros cadastrados:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for carro in carros %}
                            <tr>
                                <th><a href=" {% url 'carros:versoes' carro.slugCarro %}">{{ carro.nome }} </a></th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-9">
                <div style="width: 43rem;" class="card" style="width: 43rem;">
                    <img id="imagem" width="250px%" height="450px" class="card-img-top" src="">
                </div>
                <br>
            </div>
        </div>
    </div>
    <input type="hidden" id="todasImagens" value="{{todasImagens}}">
    <script src="{% static 'js/exibirImagens.js' %}"></script>
{% endblock %}