{% extends 'base.html' %}

{% block 'body' %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        
        <form action="{% url 'carros:versaoCriar' carro.slugCarro %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                
                <div class="col-md-5">
                        {{form.nome.label_tag}}
                        {{form.nome}}
                        {{form.nome.placeholder}}
                        
                        {{form.motor.label_tag}}
                        {{form.motor}}
                        
                        {{form.seguranca.label_tag}}
                        {{form.seguranca}}
                        
                        {{form.ano.label_tag}}
                        {{form.ano}}
                        
                        {{form.imagem.label_tag}}
                        {{form.imagem}}
                </div>
                
                <div class="col-md-5">
                        {{form.combustivel.label_tag}}
                        {{form.combustivel}}
                        
                        {{form.direcao.label_tag}}
                        {{form.direcao}}
                        
                        {{form.acessorio.label_tag}}
                        {{form.acessorio}}
                        
                        {{form.modelo.label_tag}}
                        {{form.modelo}}

                        <input type="hidden" name="carro" value="{{carro.id}}">

                        <input class="btn btn-success" type="submit" value="Cadastrar Versão" style="margin-top: 31px;" >
                </div>
            </div>
            
        </form>

    </div>

{% endblock %}