{% extends 'base.html' %}

{% block 'body' %}
    {{ block.super }}
    <div class="container">
        <a href="{%url 'carros:versaoEditar' versao.carro.slugCarro versao.pk %} " class="btn btn-primary botao_topo">Editar</a>
        <a href="{%url 'carros:versaoExcluir' versao.carro.slugCarro versao.pk %} " class="btn btn-danger botao_topo">Excluir</a>
        
        <div class="row">
            <div class="col-md-4">
                <h3>Versão: {{versao}}</h3>

                <p>Carro: {{versao.carro}}</p>
                <p>Combustivel: {{versao.combustivel}}</p>
                <h6>Itens de Seguranca:</h6>
                    <ul>
                        {% for item in versao.seguranca.all %}
                            <li>{{item}}</li>    
                        {% endfor %}
                    </ul>
                <h6>Acessorios:</h6>
                <ul>
                    {% for item in versao.acessorio.all %}
                        <li>{{item}}</li>    
                    {% endfor %}
                </ul>
                <p>Ano: {{versao.ano}}</p>
                <p>Modelo: {{versao.modelo}}</p>
                <p>Estoque: {{versao.estoque}}</p>
            </div>
            <div class="col-md-8">
                <div style="background-color: #0f0f0f; width: 50rem;">
                    <img width="100%" src="{{versao.imagem.url}}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}