.venv/
Pipfile
Pipfile.lock
#media/
#fixtures/
#db.sqlite3
#.env
carros/__pycache__/
compras/__pycache__/
pessoas/__pycache__/
vendas/__pycache__/
colaboradores/__pycache__/
permissoes/__pycache__/
vendas/__pycache__/
django_concessionaria/__pycache__/
*.pyc
