{% extends 'base.html' %}

{% block pagination %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href=" {% url 'clientes:criar' %}" class="btn btn-primary botao">Novo Cliente</a>
            </div>
            <div class="col-md-6">{{ block.super }}</div>
        </div>
    </div>
{% endblock %}

{% block 'body' %}
    {{block.super}}
    <div class="container">
        <div class="row">
            <div class="col-md">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">CPF (clique) </th>
                            <th scope="col">Nome Completo</th>
                            <th scope="col">Email</th>
                            <th scope="col">Data Nascimento</th>
                            <th scope="col">Telefone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in cliente_list %}
                            <tr>
                                <th><a class="corPadrao" href="{% url 'clientes:detalhe' cliente.pk%}">{{cliente.cpf}}</a></th>
                                <td>{{cliente.nomeCompleto}}</td>
                                <td>{{cliente.email}}</td>
                                <td>{{cliente.dataNascimento}}</td>
                                <td>{{cliente.telefone}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>

{% endblock %}
