{% extends 'base.html' %}

{% block 'body' %}
    <div class="container">

        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        
        <form action="{% url 'cadastrar_versao' carro.slugCarro %}" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <br>
            <h5>CADASTRO DE NOVA VERSÃO: </h5>
            <br>
            <div class="row">
                
                <div class="col-md-5">
                        {{form.nome.label}}
                        {{form.nome}}
                        <br>
                        {{form.motor.label}}
                        {{form.motor}}
                        <br>
                        {{form.seguranca.label}}
                        {{form.seguranca}}
                        <br>
                        {{form.imagem.label}}
                        {{form.imagem}}
                        <br>
                </div>
                
                <div class="col-md-5">
                        {{form.combustivel.label}}
                        {{form.combustivel}}
                        <br>
                        {{form.direcao.label}}
                        {{form.direcao}}
                        <br>
                        {{form.acessorio.label}}
                        {{form.acessorio}}
                        <br><br>
                        {{form.carro}}
                        
                </div>
            </div>
            <input class="btn btn-success" type="submit" value="Cadastrar Versão" >
        </form>

    </div>

{% endblock %}
