{% extends 'base.html' %}

{% block 'body' %}
    <div class="container">

        <form action="{% url 'fornecedores' %}" method="POST">
            {% csrf_token %}
            <br><br>
            <div class="row">
                <div class="col-md">
                    <label>Nome Fornecedor: </label>
                    <input class="form-control" type="text" name="nome">
                </div>

                <div class="col-md">
                    <label>CNPJ</label>
                    <input class="form-control" type="text" name="cnpj">
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <label>Email: </label>
                    <input class="form-control" type="email" name="email">
                </div>
                
                <div class="col-md">
                    <label>Telefone: </label>
                    <input class="form-control" type="text" name="telefone">
                </div>

                <div class="col-md">
                    <label>Endereco Completo (rua, numero, bairro, cidade/UF)</label>
                    <input class="form-control" type="text" name="enderecoCompleto">
                </div>

                <div class="col-md">
                    <input class="btn btn-success" type="submit" value="Enviar" >
                </div>                
            </div>
        </form>

        <hr style="background-color: gray;">

        <div class="container">
            <table class="table table-dark">
                <label> <H5>FORNECEDORES CADASTRADOS</H5> </label>
                <thead>
                    <tr>
                        <th scope="col">CNPJ</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Endereco</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fornecedor in fornecedores %}
                        <tr>
                            <th><a href=" {% url 'editar_fornecedor' fornecedor.id %}">{{ fornecedor.cnpj }}</a></th>
                            <td>{{fornecedor.nome}}</td>
                            <td>{{fornecedor.telefone}}</td>
                            <td>{{fornecedor.email}}</td>
                            <td>{{fornecedor.enderecoCompleto}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            
        </div>

{% endblock %}
