{% extends 'base.html' %}

{% block 'body' %}
    <div class="container">

        <form action="{% url 'marcas' %}" method="POST">
            {% csrf_token %}
            <br><br>
            <div class="row">
                <div class="col-md">
                    <label>Nome Marca: </label>
                    <input class="form-control" type="text" name="nomeMarca">
                </div>

                <div class="col-md">
                    <label>CNPJ Marca</label>
                    <input class="form-control" type="text" name="cnpjMarca">
                </div>

                <div class="col-md">
                    <input class="btn btn-success" type="submit" value="Enviar" >
                </div>                
            </div>
        </form>

        <form action="{% url 'fornecedores' %}" method="POST">
            {% csrf_token %}
            <br><br>
            <div class="row">
                <div class="col-md">
                    <label>Nome Fornecedor: </label>
                    <input class="form-control" type="text" name="nomeFornecedor">
                </div>

                <div class="col-md">
                    <label>CNPJ fornecedor</label>
                    <input class="form-control" type="text" name="cnpjFornecedor">
                </div>

                <div class="col-md">
                    <label>Marca Fornecida: </label>        
                    <select name="marcaFornecida" class="form-control">
                        {% for marca in marcas %}
                            <option value="{{marca.id}}">{{marca.nomeMarca}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <label>Email: </label>
                    <input class="form-control" type="email" name="emailFornecedor">
                </div>
                
                <div class="col-md">
                    <label>Endereco</label>
                    <input class="form-control" type="text" name="enderecoFornecedor">
                </div>

                <div class="col-md">
                    <input class="btn btn-success" type="submit" value="Enviar" >
                </div>                
            </div>
        </form>

        <hr style="background-color: gray;">

        <div class="container">
            <table class="table table-dark">
                <label> <H5> FORNECEDORES CADASTRADOS</H5> </label>
                <thead>
                    <tr>
                        <th scope="col">CNPJ</th>
                        <th scope="col">Nome Fornecedor</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Endereco</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fornecedor in fornecedores %}
                        <tr>
                            <th><a href=" {% url 'editar_fornecedor' fornecedor.id %}">{{ fornecedor.cnpjFornecedor }}</a></th>
                            <td>{{fornecedor.nomeFornecedor}}</td>
                            <td>{{fornecedor.marcaFornecida}}</td>
                            <td>{{fornecedor.enderecoFornecedor}}</td>
                            <td>{{fornecedor.emailFornecedor}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            
        </div>

    </div>

{% endblock %}
