{% extends 'base.html' %}
{% load static %}

{% block 'body' %}
    <h1> ADEQUAR </h1>
    <form action="{% url 'upd_fornecedor' fornecedor.id %}" method="POST">
        {% csrf_token %}
        <br><br>
        <div class="row">
            <div class="col-md">
                <label>Nome Fornecedor: </label>
                <input class="form-control" type="text" name="nomeFornecedor" value="{{fornecedor.nomeFornecedor}}">
            </div>

            <div class="col-md">
                <label>Email: </label>
                <input class="form-control" type="email" name="emailFornecedor" value="{{fornecedor.emailFornecedor}}">
            </div>
                
            <div class="col-md">
                <label>cnpj</label>
                <input class="form-control" type="text" name="cnpjFornecedor" value="{{fornecedor.cnpjFornecedor}}">
            </div>

            <div class="col-md">
                <label>endereco</label>
                <input class="form-control" type="text" name="enderecoFornecedor" value="{{fornecedor.enderecoFornecedor}}">
            </div>
            
            <div class="col-md">
                <label>Marca fornecedor: </label>        
                <select name="marcaFornecida" class="form-control">
                    <option value="{{fornecedor.marcaFornecida.id}}">{{fornecedor.marcaFornecida.nomeMarca}}</option>
                    {% for marca in marcas %}
                        {% if not marca.id == fornecedor.marcaFornecida.id %}
                        <option value="{{marca.id}}">{{marca.nomeMarca}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="col-md">
                <input class="btn btn-success" type="submit" value="Atualizar" >
            </div>
            
        </div>
    </form>
{% endblock 'body' %}

