{% extends 'base.html' %}
{% load static %}

{% block 'body' %}
    <form action="{% url 'upd_fornecedor' fornecedor.id %}" method="POST">
        {% csrf_token %}
        <br><br>
        <div class="row">
            <div class="col-md">
                <label>Nome Fornecedor: </label>
                <input class="form-control" type="text" name="nome" value="{{fornecedor.nome}}">
            </div>

            <div class="col-md">
                <label>cnpj</label>
                <input class="form-control" type="text" name="cnpjFornecedor" value="{{fornecedor.cnpjFornecedor}}">
            </div>

            <div class="col-md">
                <label>Email: </label>
                <input class="form-control" type="email" name="emailFornecedor" value="{{fornecedor.emailFornecedor}}">
            </div>
                
            <div class="col-md">
                <label>Telefone</label>
                <input class="form-control" type="text" name="telefone" value="{{fornecedor.telefone}}">
            </div>

            <div class="col-md">
                <label>Endereço: </label>
                <input class="form-control" type="text" name="enderecoCompleto" value="{{fornecedor.enderecoCompleto}}">
            </div>
            
            <div class="col-md">
                <input class="btn btn-success" type="submit" value="Atualizar" >
            </div>
            
        </div>
    </form>
{% endblock 'body' %}

