.fundo {
    background-color: #121212;
    color: white;
}

.bg-nav{
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #191919;
    margin-bottom: 5px;
    margin-block-end: 10px;
}

.bg-hr{
    background-color: gray;
}

.container{
    max-width: 1300px;
}

body {
    margin-top: 35px;
    padding-top: 35px;
    margin-left: 10px;
}

.add-scroll{
    overflow: auto;
    max-height: 450px;
}

a{
    color:white;
}

a:hover{
    color: gray;
    text-decoration: underline;
}

.botao {
    display: inline-block;
    padding: 7px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.head-listas{
    background-color: black;
}



.colunas_tres{
    column-count: 3;
}

.colunas_tres input{
    width: 80%;
    display: block;
    margin-bottom: 10px;
}

.esmaecido{
    opacity: 50%;
    margin-bottom: 0;
}

.paginacao_pag{
    font-size: 90%;
    color: rgb(134, 196, 217);
}

.pagination {
    padding-left: 10px;
    padding-bottom: 15px;
    display: contents;
}

.page-links{
    margin-bottom: 10px;
}

.cor_padrao{
    color: #007bff;
}

.card-img-top{
}