{% extends 'base.html' %}

{% block pagination %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{% url 'vendas:criar' %}" class=" btn btn-primary botao">Nova venda</a>
            </div>
            <div class="col-md-5.5">
                {{ block.super }}
            </div>
        </div>
    </div>
{% endblock %}

{% block 'body' %}
    {{ block.super }}
    <div class="container">
        <div class="row">
            <div class="col-md">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Opcoes</th>
                            <th scope="col">Data e hora</th>
                            <th scope="col">Detalhes</th>
                            <th scope="col">valor venda</th>
                            <th scope="col">forma Pag.</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Colaborador</th>
                            <th scope="col">Carro</th>
                            <th scope="col">Versao</th>
                            <th scope="col">Situacao</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for venda in venda_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'vendas:editar' venda.pk %}" class="btn btn-primary botao_tabela">editar</a>
                                    <a href="{% url 'vendas:excluir' venda.pk %}" class="btn btn-danger botao_tabela">excluir</a>
                                </td>
                                <td>{{venda.dataHora|date:"d/m/Y H:i"}}</td>
                                <td>{{venda.detalhes}}</td>
                                <td>{{venda.valorVenda}}</td>
                                <td>{{venda.get_formaPagamento_display}}</td>
                                <td>{{venda.cliente}}</td>
                                <td>{{venda.colaborador}}</td>
                                <td>{{venda.versao.carro}}</td>
                                <td>{{venda.versao}}</td>
                                <td>{{venda.get_situacao_display}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>

{% endblock %}
