{% extends 'base.html' %}

{% block 'body' %}

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="" method="POST">{% csrf_token %}
                    <div class="colunasDuas">
                        {{form.as_p}}
                    </div>
                    <input class="btn btn-success" type="submit" value="Salvar" >
                    <a href="javascript:history.back()" class="btn btn-secondary botao">Voltar</a>
                </form>
            </div>
        </div>

    </div>

{% endblock %}
