{% extends 'base.html' %}

{% block pagination %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{% url 'compras:criar' %}" class=" btn btn-primary botao">Nova compra</a>
            </div>
            <div class="col-md-5.5">
                {{ block.super }}
            </div>
        </div>
    </div>
{% endblock %}

{% block 'body' %}
    {{ block.super }}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Opcoes</th>
                            <th scope="col">Data e hora</th>
                            <th scope="col">Carro</th>
                            <th scope="col">Versão</th>
                            <th scope="col">Quant.</th>
                            <th scope="col">Valor Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for compra in compra_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'compras:editar' compra.pk %}" class="btn btn-primary botao">editar</a>
                                    <a href="{% url 'compras:excluir' compra.pk %}" class="btn btn-danger botao">excluir</a>
                                </td>
                                <td>{{compra.dataHora|date:"d/m/Y H:i"}}</td>
                                <td>{{compra.versao.carro}}</td>
                                <td>{{compra.versao}}</td>
                                <td>{{compra.quantidade}}</td>
                                <td>{{compra.valorTotal}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
            <div class="col-md-1">
                <h4>Estoque atualizados: DATETIME</h4>
                <h5>Todos carros/versoes</h5>
            </div>
        </div>
    </div>

{% endblock %}
