{% extends 'base.html' %}
{% block 'body' %}
    {{ block.super }}
    <div class="container">
        <div class="row">
            <div class="col-md-5" style="text-align: justify;">
                <h4 style="text-align: center;">PROJETO FICTÍCIO - CONCESSIONÁRIA</h4>
                <h5>    Simulação de um sistema interno para uso de vendedores, supervisores e gerentes. o cliente não teria acesso.</h5>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <table class="table table-dark">
                    <thead>
                        <tr class="headLista">
                            <th scope="col">usuário para testes</th>
                            <th scope="col">senha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>admin(superuser)</td>
                            <td>8000/admin</td>
                        </tr>
                        <tr>
                            <td>gerente1</td>
                            <td>8000/admin</td>
                        </tr>
                        <tr>
                            <td>supervisor1</td>
                            <td>8000/admin</td>
                        </tr>
                        <tr>
                            <td>vendedor1</td>
                            <td>8000/admin</td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
{% endblock %}
